[Desktop Entry]
Encoding=UTF-8
Name=Gjots2 Jotter
Comment=Store and organise your random notes
Exec=gjots2
Terminal=false
Type=Application
Icon=gjots2
Categories=GNOME;Application;Utility;
