#!/usr/bin/make -f
# can be removed once LP: #788524 is fixed (dh_python2 backport)
WITH_PYTHON2 = $(shell test -f /usr/bin/dh_python2 && echo "--with python2")

%:
	dh $@ ${WITH_PYTHON2}

override_dh_install: 
	dh_install

	rm $(CURDIR)/debian/gjots2/usr/share/doc/*/AUTHORS
	rm $(CURDIR)/debian/gjots2/usr/share/doc/*/INSTALL
	rm $(CURDIR)/debian/gjots2/usr/share/doc/*/COPYING
	rm $(CURDIR)/debian/gjots2/usr/share/doc/*/ChangeLog

override_dh_compress:
	dh_compress -X.gjots
